/* Body */
body {
    background-image: url(../images/BackgroundImg3.png);
    background-color: #cccccc;
}

/* Navbar */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
div.logo {
    width: 23%;
    padding: 1%;
}
logo {
    text-align: center;
}
nav {
    width: 72%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}

/* Hero Image */
.HeroImg {
    height: 600px;
    padding: 100px;
}
.content {
    width: 500px;
    margin: 0 auto;
    padding: 1%;
    box-shadow: 5px 5px 15px #6F8FAF;
    background-color: #ffffff;
    border-radius: 15px
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
    padding: 10px;
  }

p {
    font-family: "sf pro display", Arial, Helvetica, sans-serif;
}
p.thick {
    font-weight: bolder;
}

/* Footer */
footer {
    background-color: #FFDBE8;
    padding: 1%;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}